<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="beitmemcached" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <beitmemcached>
    <add key="default" value="localhost:11211, localhost:11212" />
  </beitmemcached>
  <appSettings>
    <add key="DefaultCacheProvider" value="Redis"/>
    <add key="DefaultCacheServerNodes" value="youngcoder:e89e4780c76ce101f1a32a7d87e9489d@50.30.35.9:2467,
         youngcoder:6a8422ec9db43a5d6b07b5fd1e5831f9@50.30.35.9:2680"/>
    <add key="DefaultPolicyExpiresMinutes" value="10"/>
  </appSettings>
</configuration>