<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageServiceEndPoint" value="192.168.1.104:1520"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IStorageService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://azure.open.net/StorageService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStorageService"
          contract="StorageService.IStorageService" name="WSHttpBinding_IStorageService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>