<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--开启服务端节点-->
    <add key="AsServerNode" value="false"/>

    <!--服务端域名-->
    <add key="Domain" value="azure.xineworld.com"/>

    <!--开启加密通讯-->
    <add key="EnableSsl" value="false"/>

    <!--验证凭据 格式：“用户名:密码”-->
    <add key="Credential" value="rocky:e89e4780c76ce101f1a32a7d87e9489d"/>

    <!--隧道列表 格式：“本地代理端口#代理协议或转发端点”-->
    <add key="TunnelList" value="1080#Socks4,
         1081#Socks5,
         1082#Http,
         --1800#42.121.131.30:3389"/>
  </appSettings>
</configuration>