<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppID" value=""/>
    <!-- 登录页面 (Required) -->
    <add key="WebDomain" value=".0710.com" />
    <add key="SSOAuthentication.LoginUrl" value="http://dev.sso.0710.com/Login.aspx" />
    <add key="SSOAuthentication.SitePlant" value="SSO"/>
  </appSettings>
  <system.web>
    <!-- 添加自定义验证HttpModule -->
    <httpHandlers>
      <add verb="GET" path="SSONotify.ashx" type="InfrastructureService.WebModel.SSOAuthentication, InfrastructureService.WebModel"/>
    </httpHandlers>
    <httpModules>
      <add name="SSOAuthentication" type="UUNet.SSO.Client.SSOAuthentication, InfrastructureService.WebModel" />
    </httpModules>
  </system.web>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IUserService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://azure.open.net/SSOService.svc" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IUserService" contract="SSOService.IUserService"
        name="WSHttpBinding_IUserService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>