body {
	font-size : 14px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin : 0px;
	word-wrap:  break-word;
}

td
{
	font-size : 14px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 150%;	
}

a:visited,
a:active,
a:link {	
	color: Navy;
	text-decoration : none;
}

a:hover {
	text-decoration : underline;
}

h1 {
	margin : 50px 0px 5px;
	font-size : 24px;
	line-height: 200%;
}

h1 a:visited,
h1 a:active,
h1 a:link {
	color : #000;
}

h1 a:hover {
	color : #47F;
	text-decoration : none;
}

h2 {
	margin-top : 40px;
	margin-bottom : 3px;
	font-size : 18px;
}

h3 {
	font-size : 16px;
	margin-top: 25px;
}

h5 {
	margin: 0px;
	padding: 0px;
}

p {
	margin: 10px 0px;
	text-indent: 20px;
}

#authors ul {
	list-style : none;
	padding : 0px;
	margin : 0px 5px;
}

div.News
{
	font-size: 11px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
	padding-left: 10px;
}

.HeaderTitle
{
	font-size : 1.5em;
	margin: 0px;
}

.HeaderTitles
{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.HeaderTitles a:visited,
.HeaderTitles a:active,
.HeaderTitles a:link,
.HeaderTitles a:hover
{
	color: White;
	text-decoration : none;
	font-size: 18px;
	font-weight: normal;
}

.HeaderBar
{
	font-weight: normal;
	font-size: 11px;
	border-collapse: collapse;
	background-image: url(images/BlueTabBack.gif);
    background-repeat:repeat-x;
}

.HeaderBar a:visited,
.HeaderBar a:active,
.HeaderBar a:link
{
	color: WhiteSmoke;
	text-decoration: none;
	font-weight: normal;
}

.HeaderBarTab
{
	background-image: url(images/BlueTabFace.gif);
   background-repeat:repeat-x;
   border-collapse: collapse;
   padding: 0px;
}

.BlogStatsBar
{
	text-align:right;
	font-weight: normal;
	font-size: 11px;
	color: Silver;
	border-collapse:collapse;
}

p.date img {
	vertical-align : middle;
}

p.date {
	font-size : 11px;
	font-weight : bold;
	margin-bottom : 0px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 4px;
	text-align: right;
}

blockquote {
	font-style : italic;
}

div.postTitle a:visited,
div.postTitle a:active,
div.postTitle a:link
{
	color: Navy;
	text-decoration : none;
}

div.post
{
	border-right: gainsboro 2px solid;
	border-top: gainsboro 2px solid;
	border-left: gainsboro 2px solid;
	border-bottom: gainsboro 2px solid;
}

div.postTitle
{
	padding-left: 3px;
	font-weight: bolder;
	font-size: 13px;
	padding-bottom: 3px;
	padding-top: 3px;
	border-bottom: gainsboro 1px solid;
	background-color: whitesmoke;
}

div.postText
{
	padding-right: 10px;
	padding-left: 3px;
	font-size: 13px;
	padding-bottom: 5px;
	padding-top: 10px;
	line-height:130%;
}

div.postFoot
{
	background-color: WhiteSmoke;
	border-top: gainsboro 1px solid;
	font-size: 11px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 1px;
	padding-top: 1px;
	text-align: right;
}

#top 
{
	background-image: url(images/BlueTabBackground.gif);
   background-repeat: repeat;
	color : WhiteSmoke;
	border-top : 4px solid Black;
	border-bottom : 4px solid Black;
	padding: 0px;
	margin: 0px;
}

#tagline {
	font-size : 16px;
	margin : 0px;
	color: White;
}

#leftmenu {
	position : absolute;
	left : 0px;
	width : 180px;
	height:auto;
	background-color: WhiteSmoke;
	padding-top: 0px;
}

#leftmenu h3 {
	font-size : 11px;
	margin : 0px;
	margin-top : 10px;		
	padding-bottom: 2px;
	padding-left: 3px;
	border-top: solid 1px Gainsboro;
}

#leftmenu ul {
	list-style: none;
	margin : 0px;
	padding-left : 5px;
	margin-left : 5px;
	margin-bottom : 10px;
	font-size : 11px;
}

#leftmenu a
{
	padding: 1px;
	text-decoration: none;
}

#leftmenu a:active,
#leftmenu a:visited,
#leftmenu a:link
{}

#leftmenu a:hover
{
	font-style:italic;
}

#main {
	margin-left : 180px;	
	background-color : White;
	padding : 10px;
	border-left : 1px solid #555;
	border-bottom : 4px solid Black;
}

#footer {
	margin : 0px;	
	padding-top : 5px;
	text-align : center;
	font-size : 10px;
}

#CommentForm
{
	font-size : 11px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

input, textarea
{
	font-size: 11px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;	
}

.CommentForm
{
	font-size : 11px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.Button
{
	border: 1px solid SteelBlue;
	background-color: gainsboro;
}

.Cal
{
	border : 1px solid #186AA2;
	width:100%;
	font-family:Arial;
	font-size: 12px;
	margin-top:0px;
	margin-bottom:10px;
	height:180px;
	background-color:WhiteSmoke;
	padding : 0px;
	 	
}

.CalTitle
{
	background-color : #014E82;
	border-color:#ADF;
	font-family:Arial;
	font-size: 13px;
	font-weight:normal;
	color : #000;	
	margin-left : 0px;
	padding : 0px;
	height:100%;
		
}


.CalOtherMonthDay
{
	color:#808080;
	
}

.CalSelector
{
	
}

.CalNextPrev
{
	background-color : #014E82;
}

.CalDayHeader
{
	background-color:#186AA2;
	color : #000;	
	
}

.CalSelectedDay
{
	
}

.CalWeekendDay
{
	
}

.CalTodayDay
{
	/*background-color:#93C49C;*/
	color:Red;
}
h4 {
	font-size: 14px;
}
pre {
	background-color: #eeeeee;
	margin: 20px;
	line-height: 100%;
}
code {
	font-family: "Courier New", Courier, mono;
	color: #000099;
}