<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="false">
    <root>
      <level value="ALL"/>
      <!-- 默认总会写日志 -->
      <!--<appender-ref ref="DefaultAppender" />-->
    </root>
    <logger name="DefaultLogger">
      <level value="ALL"/>
      <appender-ref ref="DefaultAppender"/>
    </logger>
    <logger name="ExceptionLogger">
      <level value="ALL"/>
      <appender-ref ref="ExceptionAppender"/>
    </logger>
    <appender name="DefaultAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/"/>
      <StaticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="[yyyy-MM-dd]'_Default.log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="INFO"/>
      </filter>
    </appender>
    <appender name="ExceptionAppender" type="log4net.Appender.RollingFileAppender">
      <!--绝对路径："D:\logs\"-->
      <file value="./logs/"/>
      <StaticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="[yyyy-MM-dd]'_Exception.log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger - %username %identity%message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>