<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="DefaultCacheProvider" value="Redis"/>
    <add key="DefaultCacheServerNodes" value="youngcoder:93939eaffb1bb35f6478e1cdc1d5edc4@50.30.35.9:2270,
         youngcoder:5a17fe7fee23f34eeb37ce7fc3bd18cc@50.30.35.9:2528" />
    <add key="DefaultPolicyExpiresMinutes" value="10"/>
  </appSettings>
  <connectionStrings>
    <add name="Rocky.UnitTesting.Properties.Settings.DevDbConnectionString"
         connectionString="Data Source=10.0.16.8;Initial Catalog=DevDb;User ID=sa;Password=123.com;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>